* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: white;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #042123), url(https://cdn.pixabay.com/photo/2016/08/15/10/17/survey-1594962__340.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  font-size: 1.12rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.12rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}

button {
  border: none;
}

.container {
  width: 100%;
  margin: 3.12rem auto 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.header {
  text-align: center;
  padding: 0 0.625rem;
  margin-bottom: 1.88rem;
}

.description {
  font-weight: 200;
  font-style: italic;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.hint {
  margin-left: 0.25rem;
  font-size: 0.93rem;
  color: #e4e4ef;
}

form {
  background: #1b1b32;
  padding: 2.5rem 0.625rem;
  border-radius: 0.5rem;
  opacity: 0.8;
}

.survey-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.3rem auto;
  padding: 0.3rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.38rem 0.8rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.3rem;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.63rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 121px;
  width: 100%;
  padding: 0.63rem;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.8rem;
  background-color: #37af65;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
